body,html,div,p,h1,h2,h3,h4,h5,ul,li,span,input,label{
padding:0px;
margin:0px;}
html{
height:100%;}
body{
font-size:12px;
font-family:"ו";
height:100%;
background:url(../image/bg.gif);
}
.bg{
width:100%;
min-height:100%;
height:auto;
_height:100%;
background:url(../image/bg_img.jpg) center top no-repeat;
}
.logo{
width:896px;
height:118px;
padding:30px 0px;
background:url(../image/logo.png) 0px 30px no-repeat;
margin:0px auto;}
.xindian{
width:100%;
height:92px;
background:url(../image/flash_bg.gif) repeat-x;
overflow:hidden;}
.flash{
width:1600px;
height:92px;
margin:0px auto;
}
.denglukuang{
width:594px;
height:335px;
background:url(../image/denglu_bg.png);
margin:10px auto;
position:relative;}
.yonghuming,.mima{
position:absolute;
width:268px;
padding:14px 10px;
font-size:14px;
font-family:"Microsoft YaHei";
background:none;
border:0px;

}
.yonghuming{
top:58px;
left:189px;}
.mima{
top:127px;
left:189px;}
.btn{
text-align:center;
position:absolute;
top:220px;
width:100%;
}
.dl,.cz{
display:inline-block;
border:0px;
height:48px;
width:151px;
margin:0px 15px;
cursor:pointer;}
.dl{
background:url(../image/dl.gif) 0px 0px no-repeat;}
.dl:hover{
background-position:0px -52px;}
.cz{
background:url(../image/cz.gif) 0px 0px no-repeat;}
.cz:hover{
background-position:0px -52px;}

.line{
font-size:1px;
height:2px;
width:100%;
background:url(../image/line.png) center center no-repeat;
margin-top:20px;}
.banquan{
font-family:"Microsoft YaHei";
font-size:16px;
color:#376f78;
text-align:center;
padding:15px;}
.banquan .img{
display:inline-block;
vertical-align:middle;
margin-right:15px;
width:70px;
height:60px;
background:url(../image/logo2.png);
_background:none;
_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='image/logo2.png',sizingMethod='image')
}