@CHARSET "UTF-8";
label{  
    display: inline-block;  
    padding: 0 10px;  
    vertical-align: middle;  
}  
input[type="text"]{  
    height: 14px;  
    line-height: 14px;  
    border-radius: 5px;  
    padding:10px 10px;  
    vertical-align: middle;  
    color:#666;  
}  